POSTGRES_URL=postgresql://<admin_login_name>:<your_password>@<servername>:5432/<database_name>?sslmode=require
POSTGRES_DATABASE=xxx

# AI-SDK Defaults
AZURE_API_KEY=xxx
AZURE_RESOURCE_NAME=xxx
AZURE_AI_DEPLOYMENT=xxx